<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 section-title">
                    <h2>
                        <mdb-icon fas icon="info" class="icon-green"></mdb-icon> About
                    </h2>
                    <button mdbBtn type="button" class="float-right btn-sm btn-flat" outline="true"
                        (click)="goToTerms()" mdbWavesEffect>Terms and conditions</button>
                </div>
            </div>
            <div class="row custom-card-group">
                <div class="col-12">
                    <div class="card custom-card">
                        <div class="custom-card-body">
                            <p>Casino Best Offer – Find best online casinos, get best casino offers, find everything
                                about them.
                                We provide for you
                                best deals, bonus offers, reviews, new and popular games, contact details and much
                                much
                                more.
                            </p>
                            <p>We have lots of experience in the online casinos field so here you will find
                                professional
                                opinions, no amateur talk.
                                We are sure that browsing our website, you will get profitable sessions in any
                                online
                                casino.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>