  
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #252525;
    color: #fff;
  }
  
  .copyright {
    background: #000000;
  }
  
  .menu a {
    color: #aaaaaa;
    text-decoration: underline;
    font-size:14px;
  }

  .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }