  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
  
        <!-- Footer Location -->
        <!-- <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Scola</h4>
        </div> -->
  
        <!-- Footer About Text -->
        <div class="col-lg-4 offset-4">
          <h4 class="text-uppercase mb-4">BEST CASINO OFFER</h4>
        </div>
  
      </div>
    </div>
  </footer>
  
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Casino Best Offer 2019</small>
    </div>
  </section>