<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 section-title">
                    <h2>
                        <mdb-icon fas icon="info" class="icon-green"></mdb-icon> Terms and Conditions
                    </h2>
                </div>
            </div>
            <div class="row custom-card-group">
                <div class="col-12">
                    <div class="card custom-card">
                        <div class="custom-card-body">                          
                            <h4 class="terms-section">1. Definitions</h4>
                            <ul><li><b>Website</b> refers to https://casinobestoffer.com</li>  
                            <li><b>User</b> refers to a person accessing and using the Website.</li>
                            <li><b>Data</b> refers to any information that User may submit on the Website.</li>
                            <li><b>Cookie</b> refers to a file, usually a short text file, added in your browser, when accessing and using the Website.</li>
                            <li><b>Privacy Protection Policy</b> specified in section 3 refers to a personal data and privacy protection policy of the Website.</li>
                            <li><b>Data Protection Laws</b> refers to applicable laws or regulations related to the processing of personal Data. Directive 96/46/EC or the GDPR is also included.</li>
                            <li><b>GDPR</b> stands for General Data Protection Regulation (EU) 2016/679.</li>
                            <li><b>EU Cookie Law</b> refers to directive 2002/58/EC of the European Parliament and of the Council of 12 July 2002 amended in 2006 and 2009.</li></ul>
                            
                            <h4 class="terms-section">2. General</h4>
                            <ul><li>2.1. The Website provides advices and information for Users interested in accessing and playing on online casinos but is not providing any online gambling services. Any information provided on the Website is purely informational and should not be considered as legal advice under any circumstances.</li>
                            
                            <li>2.2. We do anything we can so information published on the Website is accurate but we can not guarantee the accuracy due to a constantly changing environment of online gambling. We are not responsible for any damage resulted from using the information on the Website.</li>
                            
                            <li>2.3. The Website offers links to external websites but they are not affecting the content of such third-party websites and bears no liability for their content or information. Reading carefully all the terms and conditions of use of the third-party websites is highly encouraged.</li>
                            
                            <li>2.4. These Terms and the Privacy Protection Policy are considered accepted by any User accessing and using the Website. By accessing the Website, the User also confirms that he or she understands and will abide these Terms and the Privacy Protection Policy.</li>
                            
                            
                            <li>2.5. The User confirms to be at least 18 years old and to have full legal capacity by accessing and using the Website. Access to the Website is restricted and online gambling is prohibited if the User is 18 years of age.</li>
                            
                            <li>2.6. We may block access to the whole Website or certain parts of the Website or content to Users coming from certain countries or territories, in order to comply with local legislation.</li>
                            
                            <li>2.7. In the event that the User identifies any inaccuracy of the information published on the Website or believes the Website in any way does not comply with the legislation of the country of the User, please contact us at casinobestoffer.cbo@gmail.com. Our intention is to use our best efforts to act in compliance with the laws of all the countries where the Website is accessible by Users.</li>
                            
                            <li>2.8. In the event that any part of the Terms is not in accordance with the legislation of the User’s country, the other parts of the Terms remain in validity.</li>
                            
                            <li>2.9. Casino Best Offer content like images, logos, trademarks and texts published on the Website is part of our intellectual property. All casino logos and trademarks we present but also listed software and payment providers, represent intellectual property of the respective casino/software/payment operators. We are showing this data on the Website only for refference purposes. If this content is duplicated to other websites is allowed only with working do-follow backlinks or with our prior approval.</li></ul>
                            
                            <h4 class="terms-section">3. Privacy Protection Policy</h4>
                            <p>The Privacy Policy is applied to any Users of the Website, but also to the Website operator and/or owner. This policy is applied to all data we collect or any data provided by Users when using the Website.</p>
                            
                            <h5>3.1. Privacy Protection Policy Scope</h5>
                            <ul><li>The Privacy Policy is applied only to our actions and actions of Users using this Website. It doesn't apply to any other websites that can be accessed or reached from our Website, mentioning here, any links to online casinos.</li>
                            <li>Related to this Privacy Protection Policy, we are the data controller, for the purposes of applicable Data Protection Laws. This allows us to decide the manner and purpose the data is processed.</li></ul>

                            <h5>3.2. Collected data</h5>
                            <p>We can collect the personal Data from our Users in accordance with the privacy policy:</p>
                            
                            <ul><li>Email address for contact purpose</li>
                            <li>Information like IP address, operating system and browser type will be automatically collected</li></ul>

                            <h5>3.3. How we collect Data</h5>
                            <p>We collect data in following ways:</p>
                            
                            <ul><li>Data provided by Users to Us</li>
                            <li>Automatically collected Data</li></ul>
                            
                            <h5>3.3.1. Data provided by Users to Us</h5>
                            
                            <p>We can collect Data provided by Users in many ways:</p>
                            
                            <ul><li>When Users contact us by email using the Website</li>
                            <li>When complaints are submitted by Users for resons such as improving Our services (Users are not forced to submit complaints nor include any e-mail and other Data)</li></ul>
                            
                            <h5>3.3.2. Automatically collected Data</h5>
                            
                            <p>When Users access the Website partial Data is collected automatically:</p>
                            
                            <ul><li>We can collect automatically some information about Your visit to the Website which includes Your IP address, the date, the time and Your behaviour when using the Website. Information like this helps Us improve the Website content and its functionality.</li>
                            <li>We automatically collect Your Data using cookies, according to the cookie settings on your browser. You can find more info in section 3.10.</li></ul>
                            
                            <h5>3.4. Our use of Data</h5>
                            <p>To provide best possible experience when using the Website we require any of the above Data. Colelcted Data may be used by Us for the following reasons:</p>
                            
                            <ul><li>Improvement of our services or products</li>
                            <li>Other purposes for which the Data was submitted by the User to Us</li>
                            <li>We can use your Data for the above purpose if We consider it necessary to do so for Our legitimate interests. If You not agree with this, You have the right to object in specific circumstances (more on section 3.7).</li>
                            <li>We do not sell, rent or share Your personal information to other people or companies.</li></ul>
                            
                            <h5>3.5. Secure Data storage</h5>
                            <p>We apply organisational and technical methods to safeguard Your Data:</p>
                            
                            <ul><li>We use secure servers to store Data</li>
                            <li>Only Website admin can access the Data</li>
                            <li>The methods to safeguard Your Data include measures to handle any suspected data breach attacks.</li></ul>
                            
                            <h5>3.6. Data retention</h5>
                            <p>Data retention period will extend only if required or permitted by law. We will only keep Your Data for the necessary period to fulfill the purposes mentioned in this Privacy Policy, or until You request that the Data we store on our servers should be deleted.</p>
                            
                            <h5>3.7. Your rights</h5>
                            <p>Related to your Data, you have the following rights:</p>
                            
                            <ul><li>Right to access - the right to request a copy of the information We have and store about You at any time<li>
                            <li>Right to correct - the right to request Your Data to be updated or modified if it is inaccurate</li>
                            <li>Right to erase - the right to request deletion or removal of Your Data from Our systems</li>
                            <li>Right to restrict - the right to restrict or block Us from using Your Data or limit the way We can use it</li>
                            <li>Right for portability - the right to request copy, move or transfer of Your Data</li>
                            <li>Right to object - the right to object to Our use of Your Data</li>
                            <li>To ask us more details related to Your rights or withdraw Your consent to the processing of Your Data, please contact us at: casinobestoffer.cbo@gmail.com.</li>
                            <li>If You are not satisfied with the way we handle a complaint You have made related to how your You may refer your complaint to the relevant data protection authority.</li>
                            <li>Please inform us if Your Data changes during the period We store it. It is important that Your Data is accurate.</li></ul>
                            
                            <p>Please note that We may refuse some of Your requests in case We are legally permitted. However, if We refuse Your request, We will inform you about the reasons.</p>

                            <h5>3.8. Links to other external websites</h5>
                            <p>The Website presents links to other external websites. Even if We review websites We link, We are not responsible for the content of these websites becasue We have no control over them. This Privacy Policy does not extend to Your use of such websites. You are supposed to read the privacy policy of other websites before using them.</p>
                            
                            <h5>3.9. Changes of business ownership and control</h5>
                            <p>It is possible that We expand or reduce Our business from time to time and this may involve the sale and/or transfer of control of all or partial Website. Note that the Data provided by Users will be also transferred and the new owner, under the terms of this Privacy Policy, is allowed to use the Data but only for the purposes for which it was initially submitted to Us.</p>
                            
                            <h5>3.10. Cookies</h5>
                            <p>The Website may place and access Cookies on your computer. The purpose of using Cookies is to improve Your experience of using the Website. When using Cookies We take measures to ensure Your privacy is protected at all times.</p>
                            <p>All Cookies used by this Website are used in accordance with current EU Cookie Law.</p>
                            <p>You alre allowed to to enable or disable Cookies in Your browser. Most internet browsers accept Cookies by default, but this can be changed.
                            You are also allowed to delete Cookies at any time, but note that by doing this You may lose saved information that enables You to access the Website more quickly and efficient. The full Cookie Policy is available here.</p>
                            
                            <h4 class="terms-section">4. Final provisions</h4>
                            <p>In case of any differences or discrepancies between the language versions in English and other languages, the version in English should be applied.</p>
                            <p>The terms and conditions can be updated any time without previous notice.</p>

                            <p>Updated: April 04, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>