.section-title {
    color: #000000;
    background: #ffffff;
    padding: 10px 15px 10px 30px;
    border-bottom: 1px solid #f5f5f5;
}

.section-title .icon-gold {
display: block;
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 19px;
    float: left;
    padding: 5px 5px 5px 6px;
    margin: 5px 10px 0 -10px;
    background: linear-gradient(35deg, #c78725 0%, #e2b836 50%, #c78725 100%);
    border-radius: 100px;
}

.section-title .icon-green {
    display: block;
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 17px;
    float: left;
    padding: 6px 4px 6px 13px;
    margin: 5px 10px 0 -10px;
    background: linear-gradient(35deg, #c78725 0%, #e2b836 50%, #c78725 100%);
    border-radius: 100px;
}


.section-title h2 {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    float:left;
}

.section-title button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px 0px;

}
.custom-card-group {
    background: #ffffff;
    padding: 15px 0;
}

.custom-card {
    border: none;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px 0px #bebebe;
}

.custom-card-head {
    display: block;
    padding: 10px 10px 0 10px;
}

.custom-card-body {
    padding: 20px 30px;
}

.custom-card-head h3 {
    font-size: 23px;
    font-weight: 300;
    color: #6f6f6f;
}

.custom-card-title {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.custom-card-image {
    width: 140px;
    height: 140px;
    display: block;
    margin: 0 auto;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.custom-card-footer {
    margin: 0px;
    padding: 0px;
}
