<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 section-title">
                    <h2>
                        <mdb-icon fas icon="info" class="icon-green"></mdb-icon> Terms and Conditions
                    </h2>
                </div>
            </div>
            <div class="row custom-card-group">
                <div class="col-12">
                    <div class="card custom-card">
                        <div class="custom-card-body">                          
                            <h4>1. Definitions</h4>
                            <p>Capitalized terms used in these Terms have the following meaning:</p>
                            <ul><li><p>Website refers to https://casinobestoffer.com and its localised versions translated to other languages, which are available either at casinobestoffer.com subdomains or at separate domains.</p>
                            <p>Plural first-person pronouns like We, Us, or Our refer to the operator of the Website.</p></li>
                            
                            <li>User refers to a natural or legal person accessing and using the Website. Users are also referred to by second-person pronouns like You or Your.</li>
                            
                            <li>Privacy Protection Policy and Privacy Policy refers to a personal data and privacy protection policy of the Website, specified in section 3 of these Terms.</li>
                            <li>Data refers to all information that a User submits on the Website.</li>
                            <li>Cookie is a short text file placed on your computer by the Website or third parties when accessing the Website.</li>
                            <li>Data Protection Laws mean any applicable laws related to the processing of personal Data, including the Directive 96/46/EC or the GDPR, and any national implementing laws or regulations.</li>
                            <li>GDPR refers to General Data Protection Regulation (EU) 2016/679.
                            EU Cookie Law refers to directive 2002/58/EC of the European Parliament and of the Council of 12 July 2002 amended in 2006 and 2009.</li></ul>
                            
                            <h4>2. General Terms</h4>
                            <ul><li>2.1. The Website provides information and guidance for individuals interested in playing on online casinos and is not a provider of online gambling services. Any information provided on the Website is of informative nature only and should under no circumstances be considered as legal advice.</li>
                            
                            <li>2.2. We do our best so the information published on the Website is accurate but due to a constantly changing environment of online gambling we cannot guarantee the accuracy of the information presented on Website. We bear no liability for any damage resulting from the use of the information found on the Website.</li>
                            
                            <li>2.3. The Website contains links to external third-party websites. The Website does not affect the content of such third-party websites and bears no liability for such content. We encourage you to read thoroughly all the terms and conditions of use of the third-party websites before participating in any gambling activities.</li>
                            
                            <li>2.4. By accessing and using the Website, the User grants its consent to these Terms and the Privacy Protection Policy and confirms that he or she understands and will abide these Terms and the Privacy Protection Policy.</li>
                            
                            <li>2.5. We wish to notify the Users as data subjects whose personal data is processed through the Website, that by expressing their consents to the wording of the Privacy Protection Policy, they also express several consents to the processing of their personal data necessary for the correct use of the Website in accordance with these Terms. To find more information on processing of the Users' data, please check section 3 of current Terms.</li>
                            
                            <li>2.6. By accessing and using the Website, the User who is a natural person, confirms to be at least 18 years old and to have full legal capacity. Access to the Website is restricted to any persons under 18 years of age or under the age at which online gambling in the jurisdiction of the User is prohibited. It is the User’s sole responsibility to determine whether it is legal to gamble online within his or her jurisdiction, as well as checking any other legal requirements in force.</li>
                            
                            <li>2.7. We may block access to the whole Website or certain parts of the Website or content to Users coming from certain countries or territories, in order to comply with local legislation.</li>
                            
                            <li>2.8. In the event that the User identifies any inaccuracy of the information published on the Website or believes the Website in any way does not comply with the legislation of the country of the User, please contact us at casinobestoffer.cbo@gmail.com. Our intention is to use our best efforts to act in compliance with the laws of all the countries where the Website is accessible by Users.</li>
                            
                            <li>2.9. In the event that any part of the Terms is not in accordance with the legislation of the User’s country, the other parts of the Terms remain in validity.</li>
                            
                            <li>2.10. Casino Best Offer images, logos, trademarks and texts published on the Website constitute our intellectual property. Logos and trademarks of online casinos, gambling providers and payment providers are subject to intellectual property rights belonging to the respective operators of these casinos, gambling platforms and payment services. We publish these logos and trademarks on the Website only for the purpose of referring to the services provided by the respective trademark owners (nominative fair use). Copying the content to other websites is allowed only with working do-follow backlinks in form of "a" html tag or with our prior approval. Content and parts of a content can be republished on Wikipedia.org website just with no-follow backlinks "a" html tag).</li></ul>
                            
                            <h4>3. Privacy Protection Policy</h4>
                            <p>This Privacy Policy applies to Users of the Website, as well as to the Website’s owner and operator. We take the privacy of information of Users seriously. This policy applies to all Data collected by Us or provided by Users in relation to using the Website.</p>
                            
                            <h5>3.1. Privacy Protection Policy Scope</h5>
                            <ul><li>This Privacy Policy applies only to our actions and actions of Users with respect to this Website. It does not extend to any other websites that can be accessed from this Website, including, but not limited to, any links to online casinos.</li>
                            <li>For the purposes of applicable Data Protection Laws, We are the "data controller". This means that We determine the purpose and the manner in which is your Data processed.</li></ul>

                            <h5>3.2. Data collected</h5>
                            <p>We may collect the following Data which includes personal Data from our Users in accordance with this privacy policy:</p>
                            
                            <ul><li>Contact information such as email address</li>
                            <li>Automatically collected information such as IP address, web browser type and operating system</li></ul>
                            
                            <h5>3.3. How Data is collected</h5>
                            <p>We collect data in following ways:</p>
                            
                            <ul><li>Data provided to Us by Users</li>
                            <li>Data collected automatically</li></ul>
                            
                            <h5>3.3.1. Data provided to Us by Users</h5>
                            
                            <p>We collect Data provided by Users in numerous ways, for example:</p>
                            
                            <ul><li>When Users contact us via the Website by email or any other means</li>
                            <li>When Users submit complaints for the purpose of improving Our services (however, Users are not obliged to submit a complaint nor include and e-mail and other Data)</li></ul>
                            
                            <h5>3.3.2. Data collected automatically</h5>
                            
                            <p>Some Data is collected automatically when Users access the Website, for example:</p>
                            
                            <ul><li>We automatically collect some information about Your visit to the Website which includes Your IP address, the date, times and frequency of Your visits and the way You interact with the content of the Website; this information helps Us to make improvements to the Website content and its features.</li>
                            <li>We collect Your Data automatically via cookies, according to the cookie settings on your browser. For more information see section 6.10.</li></ul>
                            
                            <h5>3.4. Our use of Data</h5>
                            <p>Any of the above Data may be required by Us from time to time in order to provide Users with the best possible experience when using the Website. Specifically, the Data may be used by Us for the following reasons in accordance with this Privacy Policy:</p>
                            
                            <ul><li>Improvement of our products or services</li>
                            <li>Other purposes for which the Data was provided to Us by the User</li>
                            <li>We may use your Data for the above purpose if We deem it necessary to do so for Our legitimate interests. If You are not satisfied with this, You have the right to object in certain circumstances (see section 3.7).</li>
                            <li>We do not share, rent, or sell personal information about Our Users to other people or companies.</li></ul>
                            
                            <h5>3.5. Keeping Data secure</h5>
                            <p>We use technical and organisational measures to safeguard Your Data:</p>
                            
                            <ul><li>We store Your Data on secure servers</li>
                            <li>Only Website admin can access the Data</li>
                            <li>The measures to safeguard Your Data include measures to deal with any suspected data breach.</li></ul>
                            
                            <h5>3.6. Data retention</h5>
                            <p>Unless a longer retention period is required or permitted by law, We will only hold your Data on our server for the period necessary to fulfill the purposes outlined in this Privacy Policy, or until You request that the Data should be deleted.</p>
                            
                            <h5>3.7. Your rights</h5>
                            <p>You have the following rights in relation to your Data:</p>
                            
                            <ul><li>Right to access - the right to request copy of the information We hold about You at any time, or right to request that We modify, update or delete such information. Where We are legally permitted to do so, We may refuse Your request. If We refuse Your request, We will tell You the reasons why.</li>
                            <li>Right to correct - the right to have Your Data amended if it is inaccurate</li>
                            <li>Right to erase - the right to request deletion or removal of Your Data from Our systems</li>
                            <li>Right to restrict our use of Your Data - the right to block Us from using Your Data or limit the way in which We can use it</li>
                            <li>Right to Data portability - the right to request that we move, copy or transfer Your Data</li>
                            <li>Right to object - the right to object to Our use of Your Data</li>
                            <li>To make enquiries, exercise any of Your rights set out above, or withdraw Your consent to the processing of Your Data, please contact us at: casinobestoffer.cbo@gmail.com.</li>
                            <li>If You are not satisfied with the way a complaint You have made in relation to how your Data is handled by Us, You may refer your complaint to the relevant data protection authority.</li>
                            <li>It is important that the Data We hold about You is accurate. Please keep Us informed if Your Data changes during the period for which We hold it.</li></ul>
                            
                            <h5>3.8. Links to other websites</h5>
                            <p>The Website provides links to other websites. Even though We review websites We link to in detail, We have no control over such websites and are not responsible for the content of these websites. This Privacy Policy does not extend to Your use of such websites. You are advised to read the privacy policy or statement of other websites prior to using them.</p>
                            
                            <h5>3.9. Changes of business ownership and control</h5>
                            <p>We may, from time to time, expand or reduce Our business and this may involve the sale and/or transfer of control of all or part of the Website. Data provided by Users will, where it is relevant to any part of Our business, be transferred and the new owner or newly controlling party will, under the terms of this Privacy Policy, be permitted to use the Data for the purposes for which it was originally supplied to Us.</p>
                            <p>In the above instance, We will take steps with the aim of ensuring Your privacy is protected.</p>
                            
                            <h5>3.10. Cookies</h5>
                            <p>The Website may place and access certain Cookies on your computer. We use Cookies to improve Your experience of using the Website. We have carefully chosen these Cookies and have taken steps to ensure that Your privacy is protected and respected at all times.</p>
                            <p>All Cookies used by this Website are used in accordance with current EU Cookie Law.</p>
                            <p>You can choose to enable or disable Cookies in Your internet browser. By default, most internet browsers accept Cookies, but this can be changed.
                            You can choose to delete Cookies at any time; however, You may lose saved information that enables You to access the Website more quickly and efficiently.
                            The full Cookie Policy is available here.</p>
                            
                            <h4>4. Final provisions</h4>
                            <p>In case of any discrepancies between the language versions in English and other languages, the version in English shall be applied.</p>
                            <p>The conditions can be changed any time without prior notice.</p>

                            <p>Updated: March 17, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>